.cover-all {
    width: 100%;
    height: 100%;
}

#background {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    border: 2px solid;
    position: relative;
    margin: 16px;
}

.active {
    border: 20px solid green;
}

.tile {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid;
}

.hit {
    background-color: red;

}



